html {
  scroll-behavior: smooth;
}

body {
  background-color: #020312;
  padding: 0;
  margin: 0 auto;
  max-width: 144rem;
  position: relative;
}
* {
  box-sizing: border-box;
}
.logo {
  width: 9em;
  position: absolute;
  top: -0.2em;
  z-index: 2000;
}
nav ul li a {
  margin: 0 7px;
  padding: 0;
}
nav {
  background-color: #020312;
  /* position: relative; */
}
nav ul li a:hover {
  color: #ee330e;
}
.center {
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start {
  height: 100vh;
  /* padding-top: 2em; */
  /* padding-bottom: 2em; */
  background-image: url(../img/top-c.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.plane {
  font-size: 2em;
  padding: 0 20px;
  color: #020312;
}
/* *{
  border: 1px solid red;
} */
.r-letter {
  font-size: 7vw;
  color: #020312;
  text-shadow: 0 0 7px #fff;
}

.d {
  font-size: 3vw;
  color: #020312;
  text-shadow: 0 0 7px #fff;
}
.t {
  font-size: 5vw;
  color: #ee330e;
  text-shadow: 0 0 4px #020312;
}
.g {
  font-size: 2vw;
  color: #020312;
  text-shadow: 0 0 7px #fff;
}
.p_color {
  color: #e87159;
}
#service {
  background-color: #090c17;
}
#service .section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 95%;
  margin: 0 auto;
}
.h {
  height: 260px;
  padding: 3%;
  background-color: #12141c;
  transition-duration: 1s;
  border: 1px solid rgb(242, 108, 78);
}
.h p {
  max-width: 400px;
}
.h:hover {
  background-color: #02041b;
  border: none;
}

.m_center {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.mt {
  margin: 5em 0;
}
.line {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.middle {
  width: 30px;
}
.top {
  padding: 5em 0;
  position: relative;
}
.l {
  border: 1px solid red;
  width: 25px;
}
.bottom {
  padding-bottom: 5px;
  border-bottom: 3px solid red;
}
.h a {
  color: #fff;
}
/********ABOUT ME************/
#about {
  background-color: #020312;
  margin: 0;
  padding: 0;
}
.p-w {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info {
  background-color: #090c17;
}
.l_top {
  color: #e87159;
}
.space {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  /* flex-wrap: wrap; */
}
.space a {
  color: #fff;
}
.menu_btn {
  padding: 3rem 0;
  outline: none;
}

.navbar-toggler {
  border: none;
  outline: none;
}
.navbar-toggler:hover {
  border: none;
  outline: none;
}
.call {
  background-color: #e87159;
  color: #020312;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  transition-duration: 1s;
}
.cv {
  background-color: initial;
  padding: 10px 19px;
  border: 1px solid #e87159;
  transition-duration: 0.8s;
  color: #fff;
}
.call:hover {
  background-color: initial;
  border: 1px solid #e87159;
  color: #fff;
}
.cv:hover {
  background-color: #e87159;
  color: #090c17;
  font-size: 1.2rem;
  font-weight: 800;
  box-shadow: 0 0 10px #020312;
  border-radius: 0.51rem;
  /* transform: translateY(-2px); */
  /* border: 1px solid #020312; */
  box-shadow: 1px 1px 10px #020413;
}
.cv i {
  font-size: 0.8em;
  padding-right: 10px;
}
.call i {
  font-size: 0.8em;
  padding-left: 10px;
}
.hire {
  margin: 5em 0;
  background-image: url(../img/top-.jpg);
  background-attachment: fixed;
  padding: 30px;
  background-position: center;
}
.hire h2 {
  font-weight: bold;
  font-size: 6vh;
  color: initial;
  text-shadow: 0 0px 5px #e87159;
}
.hire a {
  padding: 10px 20px;
}
.hire .button {
  border: none;
  background-color: #e87159;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  transition-duration: 1s;
  display: inline-block;
}
.hire .button:hover {
  background-color: initial;
  border: 3px solid #e87159;
}
.pro-page a {
  color: #e87159;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 2s;
}
.pro-page a:hover {
  color: #ee330e;
}
.pro-page a i {
  transition-duration: 1s;
}
.pro-page a i:hover {
  margin-left: 1em;
}
/******PROJECT INSIDE INDEX*********/

.show {
  transition-duration: 1s;
  border: 1px solid #e87159;
}
.show:hover {
  background-color: #03051de8;
  /* border: 1px solid #e87159; */
}

.butt {
  padding: 0.5em 1em;
  margin: 0.6em 0;
  background-color: #e87159;
  color: #020312;
  font-weight: bold;
}
.butt_space {
  display: flex;
  justify-content: space-between;
}
.butt:hover {
  text-decoration: none;
  color: initial;
  background-color: #020312;
  color: #e87159;
  border: 1px solid #e87159;
  transition-duration: 1s;
}

.butt i {
  font-size: 0.8em;
  padding-left: 10px;
}

/***** PROJECT-PAGE   **********/

.bg-red {
  margin-bottom: 2rem;
}
#project {
  padding: 0 2rem;
}
.pb {
  background-image: url(../img/coding.webp);
}

/*****  gET IN TOUCH   **********/
.sms {
  padding: 3em 0;
}

.get {
  padding: 5em 0;
}

/* *{
 border:  1px solid red;
} */

.sms input {
  background-color: #020312;
  color: #fff;
  outline: none;
}
.sms textarea,
textarea:visited,
textarea:active,
textarea:focus,
textarea::backdrop {
  background-color: #020312;
  color: #fff;
  outline: none;
}
.form-control:focus {
  background-color: #020312;
  outline: none;
}

.sms input:hover {
  /* background-color: #090c17; */
  outline: none;
}
.sms textarea:hover {
  /* background-color: #12141c; */
  outline: none;
}
.sms {
  background-image: url(../img/sms.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.view {
  background-color: #ee330e;
  color: #fff;
}

.back_to_top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background-color: #e87159;
  width: 4rem;
  height: 4rem;
  z-index: 1000;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.5s;
}

.back_to_top:hover {
  text-decoration: none;
  /* background-color: ; */
  transform: scale(1.2);
}
.back_to_top i {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #020312;
}

/****************************************
     RESPONSIVENESS
****************************************/
@media screen and (max-width: 480px) {
  .start {
    height: 100vh;
    /* padding-top: 5em; */
    /* padding-bottom: 0em; */
    background-image: url(../img/top-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .center {
    backface-visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon-bar {
    margin: 1rem;
    color: #090c17;
  }
  .space {
    margin-top: 3em;
  }
  .r-letter {
    font-size: 2em;
    color: #020312;
    text-shadow: 0 0 7px #fff;
  }

  .d {
    font-size: 7vw;
    color: #020312;
    text-shadow: 0 0 7px #fff;
  }

  .t {
    font-size: 8vw;
    color: #ee330e;
    text-shadow: 0 0 4px #020312;
  }
  .g {
    font-size: 4vw;
    color: #020312;
    text-shadow: 0 0 7px #fff;
  }
  .logo {
    width: 9em;
    position: absolute;
    top: -0.7em;
    left: 1px;
    z-index: 200;
  }
  .view {
    background-color: #ee330e;
    color: #fff;
    font-size: 0.9em;
  }

  #project {
    padding: 0 0;
  }
  .footer_text {
    font-size: 0.8rem;
    padding: 0 1rem;
  }
}

.butt .hub {
  font-size: 1.3rem;
}

.nulge {
  background-image: linear-gradient(rgba(2, 3, 18, 0.7), rgba(2, 3, 18, 0.7)),
    url(../img/build.jpg);
  background-position: center;
  background-size: contain;
}

.todo {
  background-image: linear-gradient(rgba(2, 3, 18, 0.7), rgba(2, 3, 18, 0.7)),
    url(../img/build.jpg);
  background-position: center;
  background-size: contain;
}
.flower {
  background-image: linear-gradient(rgba(2, 3, 18, 0.7), rgba(2, 3, 18, 0.7)),
    url(../img/build.jpg);
  background-position: center;
  background-size: contain;
}

.dice {
  background-image: linear-gradient(rgba(2, 3, 18, 0.7), rgba(2, 3, 18, 0.7)),
    url(../img/build.jpg);
  background-position: center;
  background-size: contain;
}

.quote {
  background-image: linear-gradient(rgba(2, 3, 18, 0.7), rgba(2, 3, 18, 0.7)),
    url(../img/build.jpg);
  background-position: center;
  background-size: contain;
}
.gitUser {
  background-image: linear-gradient(rgba(2, 3, 18, 0.7), rgba(2, 3, 18, 0.7)),
    url(../img/build.jpg);
  background-position: center;
  background-size: contain;
}
